@{
    ViewData["Title"] = "الرئيسية";
}

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">إجمالي المنتجات</h5>
                <p class="card-text display-6">--</p>
                <a href="/Admin/Products" class="text-white text-decoration-none">إدارة المنتجات <i class="bi bi-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">إجمالي الأقسام</h5>
                <p class="card-text display-6">--</p>
                <a href="/Admin/Categories" class="text-white text-decoration-none">إدارة الأقسام <i class="bi bi-arrow-left-circle"></i></a>
            </div>
        </div>
    </div>
</div>
